body {
    font-family: Arial, sans-serif;
    background-color: #eee4fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

}

h1 {
    text-align: center;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}