body {
    font-family: Arial, sans-serif;
    background-color: #eee4fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #444;
    font-size: 20px;
    margin-top: 25px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ba87f8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #5b2c83;
}

#totalHoy,
#totalMes {
    background-color: #f3eafa;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #5b2c83;
}



#porCategoria p {
    background-color: #faf5ff;
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;
}
